

  <div class="container">
    <h5 class="">BlogPost List</h5>
  
    <div class="d-flex justify-content-end">
      <a mat-flat-button [routerLink]="['/admin/blogposts/add']">Add BlogPost</a>
    </div>
  
    <div class="mat-elevation-z8 mt-1">
      <table mat-table [dataSource]="dataSource" class="mat-table">
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let blogPost"> {{blogPost.title}} </td>
        </ng-container>
  
        <!-- Short Description Column -->
        <ng-container matColumnDef="shortDescription">
          <th mat-header-cell *matHeaderCellDef> Short Description </th>
          <td mat-cell *matCellDef="let blogPost"> {{blogPost.shortDescription}} </td>
        </ng-container>
  
        <!-- Is Visible Column -->
        <ng-container matColumnDef="isVisible">
          <th mat-header-cell *matHeaderCellDef> Is Visible? </th>
          <td mat-cell *matCellDef="let blogPost"> {{blogPost.isVisible}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of blog posts"></mat-paginator>
    </div>
  </div>
  
