/* * /----------------------------------------- table------------------------------------------------------- */ */
  /* Container styling */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  /* Heading styling */
  h5 {
    color: #333;
    margin-bottom: 10px;
  }


  /* Table header background */
  .mat-table th {
    background-color: #34495e; /* Dark blue-gray */
    color: #fff; /* White text */
  }


  /* Table row background */
  .mat-table td {
    background-color: #78909c; /* Lighter blue-gray */
    color: #fff; /* White text */
  }