<div class="container">

    <h5 class="">Category List</h5>
  
    <div class="d-flex justify-content-end">
      <!-- <a [routerLink]="['/admin/categories/add']" class="btn btn-primary">Add Category</a> -->
      <a mat-flat-button [routerLink]="['/admin/categories/add']" >Add Category</a>

    </div>
    <div class="container" class="mt-2">
      <div class="mat-elevation-z8">
        <table mat-table class="mat-table"  [dataSource]="dataSource">
      
          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef > Id </th>
            <td mat-cell *matCellDef="let category" > {{ category.id }} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef > Name </th>
            <td mat-cell *matCellDef="let category" > {{ category.name }} </td>
          </ng-container>
      
          <!-- Url Handle Column -->
          <ng-container matColumnDef="urlHandle">
            <th mat-header-cell *matHeaderCellDef > Url Handle </th>
            <td mat-cell *matCellDef="let category" > {{ category.urlHandle }} </td>
          </ng-container>
      
          <!-- Edit Button Column -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef > Edit </th>
            <td mat-cell *matCellDef="let category" >
              <button class="text-white" mat-icon-button aria-label="Edit" [routerLink]="['/admin/categories', category.id]">
                <mat-icon>open_in_new</mat-icon>
              </button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let category; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of categories">
        </mat-paginator>
      </div>
      
  </div>
  </div>